$light: #efeeef;
$accent: #47adc8;
$main: #2c7898;
$dark_accent: #3c9ebc;
$dark: #162333;

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Mukta', sans-serif;
}